{% extends "base.html" %}

{% block content %}
    <section class="join-section">
        <div class="content-wrapper">
            <h1><div class="gradient-text">Join Us!</div></h1>
            <div class="card-grid">
                <div class="card">
                    <img src="../static/Images/discord.svg" alt="Discord Icon" class="icon">
                    <a target="_blank" rel="noreferrer" href="https://discord.gg/7eZP2YPBsD"><button class="discord-button">Discord</button></a>
                </div>
                <div class="card">
                    <img src="https://en.m.wikipedia.org/wiki/File:Google_Forms_2020_Logo.svg" alt="Form Icon" class="icon">
                    <a target="_blank" rel="noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSdu1Q00zfjBQ-ThORh15eThHM-KZmacxzoM5bpIz6lziT3tvg/viewform?usp=sf_link"><button class="form-button">Registration</button></a>
                </div>
            </div>
        </div>
    </section>
    <img class="page-wave-down" src="../static/Images/page-wave-1.svg" alt="Page Wave Down">
{% endblock %}
