{% extends "base.html" %}
{% set active_page = "projects" %}

{% block content %}
    <section class="projects-section">
        <div class="content-wrapper">
            <h1>
                <div class="gradient-text">Projects</div>
            </h1>

            <div class="card-grid">
                <a rel="noreferrer" target="_blank" href="https://github.com/ReethamG/Wordle-Solver">
                    <div class="card">
                        <img class="card-image" src="https://images.dailyhive.com/20220107133109/Wordle.jpg" alt="Codewars">
                        <h3 class="card-header">Wordle Bot</h3>
                        <p>What It Does: Solves the Daily Wordle</p>
                    </div>
                </a>
                <!-- <a href="#">
                    <div class="card">
                        <h3>Help us make some</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <h3>Or suggest ideas</h3>
                    </div>
                </a> -->
            </div>
        </div>
    </section>
    <img src="../static/Images/page-wave-1.svg" alt="Page Wave Down" class="page-wave-down">
{% endblock %}