{% extends "base.html" %}

{% block content %}
  <section class="converters-section">
        <div class="content-wrapper">
            <h1>
                <div class="gradient-text">Converters</div>
            </h1>
    
            <div class="card-grid">
                <a target="_blank" href="#">
                    <div class="card">
                        <h3 class="card-header">Convert Rotations Per Minute to Radians Per Second</h3>
                        <p>RPMCONRPS</p>
                        <img class="card-image" src="../static/Images/wheels.svg" alt="wheels">
                        <p class="card-desc">This programs is used for finding the radians per second of a wheel or disc when given the rotations per minute.</p>
                    </div>
                </a>
                <a target="_blank" href="#">
                    <div class="card">
                        <h3 class="card-header">Convert an Orbital Meter Radius to an Astronomical Unit Radius</h3>
                        <p>AUCON</p>
                        <img class="card-image" src="../static/Images/orbit.svg" alt="orbit">
                        <p class="card-desc">This programs is used for finding the orbital radius of an object in Astronomical Units (distance between Earth and Sun) when given the orbital radius in meters.</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <img src="../static/Images/page-wave-1.svg" alt="Page Wave Down" class="page-wave-down">

    <section class="ti-instructions-section">
        <div class="content-wrapper">
          <div class="ti-instructions">
          <h4>There are 2 ways to use the program: 
            <ol><li>Using the TI Connect Software</li><p>Video</p>
            <li>Manually Programming Your Calculator</li><p>Instructions</p>
            </ol>
        </h4>
          </div>
        </div>
        
</section>
  <img class="page-wave-up" src="../static/Images/page-wave-2.svg" alt="Page Wave Up">
<section class="converters-section">
  <div class="content-wrapper">
<div class="ti-disclaimer"><p>These programs are meant to aid in problem solving, rather than replace the concepts. Therefore, when you use these programs, you are agreeing to the honor code that you will not cheat. In addition, PVCS Club is NOT RESPONSIBLE if the honor code is broken.
<br> Disclaimer: We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with Texas Instruments, or any of its subsidiaries or its affiliates. The official Texas Instruments website can be found at <a target="_blank" href="https://www.ti.com">https://www.ti.com</a>.
The names of TI Connect and Texas Instruments as well as related names, marks, emblems and images are registered trademarks of their respective owners. By using these programs, you acknowledge that this tool is freely presented for use by the general public, but NO waranties or guarantees are provided about the correctness, accuracy, or stability of the tool, or about its fitness for any purpose. Data may be lost without warning.
</p></div></div>
</section>
<img src="../static/Images/page-wave-1.svg" alt="Page Wave Down" class="page-wave-down">

{% endblock %}