{% extends "base.html" %}

{% block content %}
  <section class="geometry-section">
        <div class="content-wrapper">
            <h1>
                <div class="gradient-text">Geometry</div>
            </h1>
    
            <div class="card-grid">
                <a target="_blank" href="#">
                    <div class="card">
                        <h3 class="card-header">Distance Formula for Finding Distance Between Two Points</h3>
                        <p>DISTANCE</p>
                        <img class="card-image" src="../static/Images/" alt="">
                        <p class="card-desc">This programs is used for finding the distance between two points on a standard coordinate plane given the x,y coordinates of the known points. </p>
                    </div>
                </a>
                <a target="_blank" href="#">
                    <div class="card">
                        <h3 class="card-header">Midpoint Formula for Finding the Midpoint Between Two Points</h3>
                        <p>MIDPT</p>
                        <img class="card-image" src="../static/Images/" alt="">
                
                        <p class="card-desc">This programs is used for finding the midpoint between two points (point that is equidistant from the 2 points) on a standard coordinate plane given the x,y coordinates of the known points. </p>
                    </div>
                </a>
                <a target="_blank" href="#">
                    <div class="card">
                        <h3 class="card-header">Quadractic Formula for Finding the Zeroes of a Quadractic Binomial</h3>
                        <p>QDRACTIC</p>
                        <img class="card-image" src="../static/Images/" alt="">
                        <p class="card-desc">This programs is used for finding the zeroes of a quadractic graph on a standard coordinate plane given the quadractic expression. </p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <img src="../static/Images/page-wave-1.svg" alt="Page Wave Down" class="page-wave-down">
    <p>This repository contains many programs to solve problems at the high school and college level. I developed these programs as another way to help me understand derivations. I solved each and every derivation by hand before I coded the programs in TI-BASIC. I suggest you or your students do the same before downloading the program. These are meant to aid in problem solving, rather than replace the concepts. I originally developed these programs on a TI-84 Plus calculator. In addition, they can be transferred to the TI-83 CE and TI-84 CE. I'm sure there are other calculators which can download the program as well, but these are the ones I know for sure will work.</p>
{% endblock %}