.about-section {
    color: white;
    display: flex;
    padding:1.5rem;
    background-color: #1E202D;
    height: 50vh;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-wrapper h1 {
    font-size: 5vw;
}

.content-wrapper p {
    margin: 1rem 0rem;
    font-family: oxygen;
    font-size: 2vw;
    width: 55vw;
}


.gradient-text {
    display: inline;
    background: -webkit-linear-gradient(45deg, #00eb74, #00d9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

@media (max-width:1500px) {
    .content-wrapper {
        align-items: center;
        text-align: center;
        margin-left: 0;
    }
    .content-wrapper h1 {
        width: 90vw;
        font-size: 7.5vw;
    }
    .content-wrapper h3 {
        display: none;
    }
    .content-wrapper p {
        width: 70vw;
        font-size: 3vw;
    }
    .about-section {
        height: 50vw;
    }
}

/* @media (max-width:900px) {
    .navbar {
        flex-direction: column;
    }
} */
