.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #1e202d;
    color: white;
    text-align: left;
    padding: 3rem;
}

.content-wrapper h1 {
    /* font-size: 5vw; */
    font-size: max(5vw, 2rem);
    width: auto;
    text-align: center;
}

.content-wrapper p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    max-width: 60rem;
    line-height: 1.5rem;
}

.content-wrapper a {
    color: #03ce69;
}

.content-wrapper a:hover {
    color: #00ab55;
}

.content-wrapper h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.content-wrapper button {
    margin: 2rem 0rem;
    padding: 0.7rem 1rem;
    color: white;
    background: linear-gradient(45deg, #00eb74, #00d9ff);
    border: none;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    box-shadow: 0 5px 0 #ffffff;
    cursor: pointer;
}

.content-wrapper ul {
  list-style-type: circle;
  margin: 0;
  padding: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 50rem;
}

.link {
    text-decoration: none;
    color: white;
}

.page-wave-down {
    margin-top: -1rem;
}

@media (max-width:1500px) {
    .content-wrapper h1 {
        width: 90vw;
        /* font-size: 5vw; */
    }
    .content-wrapper h3 {
        display: none;
    }
    .content-wrapper p {
        width: 70vw;
        font-size: max(1rem, min(1vw, 50rem));
    }
    .svg-wrapper img {
        width: 70vw;
        height: auto;
    }
    .svg-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}